<template>
  <div>
    <nav class="navbar">
      <a class="navbar-brand m-2 app-title"><router-link class="custom-router" to="../">Sendy Interns</router-link></a>
      <a class="navbar-logo">
        <router-link class="custom-router" to="../"><img :src="require('@/assets/images/sendy-logo.png')" class="img-fluid" /></router-link>
      </a>
    </nav>

  </div>


</template>

<script>
export default {
  name: 'Header',
};
</script>

<style scoped>
body {
  height: 100%;
}
.navbar-logo {
  height: 10%;
  width: 10%;
}
.navbar{
  background: #c4c4c4;
}
.app-title{
  color: #000;
  font-size: 33px;
  font-weight: 700;
}

.breadcrumb-item a {
  color: black !important;
  text-decoration: none;

}
.breadcrumb-nav{
  margin-left: 5px;
}
.breadcrumb-item.active {
  color: #ea7125 !important;
}

.custom-router{
  text-decoration: none;
  color: #000000;
}

</style>
