<template>
 <div> 
     <div 
        v-for="intern in allInterns"
        :key="intern.id"
        class="card"
      >
        <h2>{{ intern.name }}</h2>  
         <router-link  class="boxed-btn"
          :to="{
            name: 'Details',
            params: { id: intern.id }
          }"
        >
          button
        </router-link>
      </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Interns",
  methods: {
    ...mapActions(["fetchInterns"]),

  },
  computed: mapGetters(["allInterns"]),
  created() {
    this.fetchInterns();
  }
};
</script>
<style scoped>

</style>