<template>
<div>
  <div>
    <Header />
        <nav class="pt-3 breadcrumb-nav" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href style="font-size:22px"><router-link to="../" class="custom-router">Home</router-link></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" style="font-size:22px">Interns</li>
      </ol>
    </nav>
  </div>
  <div class="interns">
    <div class="container" style="padding-top: 10%;">
      <!-- Intern begins here -->
      <div  v-for="intern in allInterns"
        :key="intern.id" class="row interns-list">
        <div class="col-1">
          <span class="rounded-circle p-4 avatar">{{ intern.name[0] }}</span>
        </div>
        <div class="col-8 intern-name">{{ intern.name }}</div>
        <div class="col-2">
         <router-link  class="btn view-more-btn"
          :to="{
            name: 'intern',
            params: { id: intern.id }
          }"
        >
         see more
        </router-link>
        </div>
          <hr class="cross-line" />
      </div>

      <!-- Intern ends here -->

    </div>
  </div>
  </div>
</template>

<script>
import Header from './Header';
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Interns",
  components: { Header },
  methods: {
    ...mapActions(["fetchInterns"]),

  },

  watch:{

  },
  computed:{ ...mapGetters(["allInterns"]),},

  created() {
    this.fetchInterns();
  },
  unmounted() {
    console.log("Unmounted")
  }
};
</script>

<style scoped>
.interns {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/images/app-theme.png');
  background-position: center;
  height: 78vh;
}
.avatar {
  color: #fff;
  font-size: 20px;
  /* border-radius: 50px!important; */
}
.container{
  /* margin-left: 8%;
  margin-right: 8%; */
}

.cross-line {
  margin-top: 2%;
  max-width: 90%;
}
.view-more-btn {
  background-color: #000;
  border-radius: 34px;
  color: white;
}

.view-more-btn:hover {
  background-color: #ea7125;
  /*color: #000000;*/
}

.intern-name {
  font-size: 17px;
}
.interns-list {
 padding-top: 2%;
 padding-bottom: 2% ;
 padding-left: 8%;
}
.breadcrumb-item a {
  color: black !important;
  text-decoration: none;

}
.breadcrumb-nav{
  margin-left: 5px;
}
.breadcrumb-item.active {
  color: #ea7125 !important;
}

.interns-list:nth-child(1) span{
background-color: #ea7125;
}

.interns-list:nth-child(2) span{
  background-color: #A0616A;
}

.interns-list:nth-child(3) span{
  background-color: #FF6584;
}

.interns-list:nth-child(4) span{
  background-color: #C4C4C4;
}
</style>
