<template>
<div>
    <div>
    <Header  />
        <nav class="pt-3 breadcrumb-nav" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href style="font-size:22px"><router-link to="../" class="custom-router">Home</router-link></a>
        </li>
        <li class="breadcrumb-item " aria-current="page" style="font-size:22px"><router-link class="custom-router" to="/interns">Interns</router-link></li>
      <li class="breadcrumb-item active" aria-current="page" style="font-size:22px">{{singleIntern.data.intern.name}}</li>
      </ol>
    </nav>
  </div>

  <div class="details">
    <div class="center">
      <div class="container text-center">
        <div class="center-text">
          <h1>{{singleIntern.data.intern.name}}</h1>
          <h2 class="pb-5">{{singleIntern.data.intern.title}}</h2>
        </div>
      </div>
      <div class="bottom_container text-center m-4">
        <h2 class="p-2">{{singleIntern.data.stacks[0].name}}</h2>
        <h2>{{singleIntern.data.stacks[1].name}}</h2>
      </div>
    </div>
    <img
      :src="singleIntern.data.intern.image"
      class="rounded-circle image p-0 avatar"
      width="180"
      alt="intern image"
    />
  </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Header from './Header';
export default {
  name: 'Interns',
  components: { Header },
    props: {
    id: {
        type: String,
        default: null
    }
  },
  methods: {
    ...mapActions(["fetchIntern"]),


  },
  computed:{
    ...mapGetters(["singleIntern"])
    ,},

  created() {
    this.fetchIntern(this.id);
  },
  unmounted() {
    console.log("Unmounted")
  }

};
</script>
<style scoped>
.container {
  width: 450px;
  height: 200px;
  left: 407px;
  top: 423px;
  background: #ea7125;
  border-radius: 20px 20px 0px 0px;
}
@media screen and (min-width: 768px) {
  .details{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/app-theme.png');
    background-position: center;
    height: 100vh;
  }
}

img {
  max-width: 220px;
}
.center {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.center-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.image {
  position: absolute;
  border: 10px solid #ea7125;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 1;
  height: auto;
  max-width: 220px;
}
.bottom_container {
  width: 450px;
  height: 109px;
  left: 407px;
  top: 778px;
  background: #ea7125;
  border-radius: 0px 0px 20px 20px;
}
h1 {
  font-size: 25px;
  color: white;
  font-weight: 400;
}
h2 {
  font-size: 20px;
  color: white;
  font-weight: 200;
}
.breadcrumb-item a {
  color: black !important;
  text-decoration: none;

}
.breadcrumb-nav{
  margin-left: 5px;
}
.breadcrumb-item.active {
  color: #ea7125 !important;
}

.avatar{
  background-size: contain;
  width: 200px;
  height: 200px;
  background-position: center;
}

.custom-router{
  text-decoration: none;
  color: #ffffff;
}

.breadcrumb-item.custom-router:hover{
  color: #ea7125;
}

</style>
