<template>
  <div class="landing">
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="#"
        ><img class="logo px-3" src="../../assets/logo.png"
      /></a>
    </nav>
    <div class="container px-1">
      <div class="d-flex pt-5"><h1>Sendy Interns</h1></div>
      <div class="d-flex p-2 mb-5">
        <h2 class="h2">honing the best engineers</h2>
      </div>
      <router-link class="btn rounded-pill mt-5" to="/interns"
        >View Interns</router-link
      >
      <div class="g-signin2" @click="onSignIn"></div>

    </div>
  </div>
</template>

<script>
export default {
  methods:{
   onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
} 
  }
}
</script>
<style scoped>
.navbar {
  background-color: white;
}
h1 {
  font-weight: 400;
  font-size: 90px;
  color: black;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  .h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .btn {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
.landing {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/background.png');
  background-position: center;
  height: 100vh;
}
}
h2 {
  color: #e5e5e5;
  font-weight: 100;
  font-size: 45px;
}
.logo {
  height: auto;
  width: 150px;
}
button {
  background-color: #ea7125;
  color: white;
}
.btn {
  background-color: #ea7125;
  color: white;
}

</style>
