<template>
  <div id="app">
    <router-view :key="$route.path" />
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');
html,
body {
  font-family: 'Comfortaa', sans-serif;
  background-color: white;
  height: 100%;
}
#app {
  font-family: 'Comfortaa', sans-serif;
}
@media screen and (max-width: 768px) {
  body {
    background-image: none;
    background-position: center;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


</style>